#!/usr/bin/env python

import mh_z19 as mh_z19
import paho.mqtt.publish as publish

result = mh_z19.read()
value = result['co2']

print("CO2: " + str(value))

publish.single("/rpi/co2", value, hostname="{{ ha_ip }}")